
.top-quotes {
    display: flex;
    justify-content: space-between;
    padding:3%;
    margin-top:5%;
    @media @phone {
        flex-direction: column;
        align-content: center;
    .top-right-quote {
        display: none;
    } //end of top right quote for phone   
    }// End of top quotes section for phone
     p {
        color:white;
        font-size: 2.0rem;
    @media @phone {
        text-align: center;

    }//end of p for phone
    }//End of the paragraphs
}//This is the end of top quotes

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    text-align: center;
    background: @bg-color-header;
    border-radius: 5%;
    margin-left: 26%;
    padding-bottom:2%;
@media @phone {
        padding: 3% 0;
    }//End of intro phone
    .btn{
       .btn(#9c5b01);

    }//End of the button
    h2 {
        width:100%;
        text-align: center;
        padding:4%;
    }
    .intro-p {
    width:50%;
@media @phone {
    padding: 4% 0;
}//End of p phone intro
    

    p {
        text-align: center;
        
    }//This is the end of the p tag
    }//End of intro p
}//This is the end of the intro

.bottom-quotes {
    display: flex;
    justify-content: space-between;
    padding:1% 3%;
    margin-top:3%;
    // margin-bottom:10%;
@media @phone {
        flex-direction: column;
        align-content: center;
.bottom-left-quote{
    // margin-top: 5%;
    display: none;
}//end of bottom left quote        
.bottom-right-quote {
        display: none;
    } //end of bottom right quote for phone   
    }// End of bottom quotes section for phone
    p {
        color:white;
        font-size: 2.0rem;
@media @phone {
        text-align: center;
    }
    }//End of the paragraphs
    // padding-top:10%;
}//This is the end of the bottom quotes

.family{
    display: flex;
    justify-content: center;
    width:400px;
    height:300px;
    margin-left: 10%;
    // position: absolute;
    // bottom:10px;
@media @phone{
    width: 300px;
    height: 200px;
    margin-left:17%;

}    
}//End of family img

//*****End OF Landing Page******

//*****Begining of About us page*****

.team{
    text-align: center;
    margin: 5% 0; 
    font-size: 5.0rem;
}//End of Creators section

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:2% 3%;
.member{
    margin: 2%;
    justify-content: center;
    text-align: center;
}//end of the member divs     
}//End of the main section

//*****End of the about-us section*****