header {
    background: @bg-color-header;
    display: flex;
    border: 1px solid black;
    width: 100%;
    nav {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        width:100%;
        padding:3%;
    a {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        font-size:1.4rem;
        
    }//End of links
    }//This is the end of the nav
}//This is the end of the header
